<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Projects Section</title>

</head>

<body>
    <div class="main">

        <%- include ('Navbar.ejs') %>
            <div class=" projectContainer ps-auto">
                <h1>My Projects Catalog</h1>
                <div class="project1 projects proBox  " id="projectBoxes">
                    <div class="projectBoxes">

                    <a href="https://craveforsuccess.github.io/CryptoVisionary/"> <img src="/css/Eth.jpg" alt=""></a>   
                        <h4>CryptoVisionary</h4>
                    </div>
                    <div class="dropdown-content">
                        <h4>Description</h4>
                        <p>CryptoVisionary is an app which will show you current prices of cryptocurrencies with a
                            realtime Data.
                            This Data is fetched using fetch function in javascript. It will also show you most traded
                            coins in past 24 hrs.
                        </p>
                    </div>
                </div>
                <div class="project2 projects proBox ms-auto " id="projectBoxes">
                    <div class="projectBoxes">
                      <a href="https://github.com/CraveforSuccess/Random_Quotes_Generator_with_dark_mode"><img src="/css/Random_quotes.jpg" alt=""></a>  
                        <h4>Random Quotes <br> Generator</h4>
                    </div>
                    <div class="dropdown-content">
                        <h4>Description</h4>
                        <p>This is a Random Quotes generator built using javascript and it displays random quotes from
                            an Api.
                            It has several categories from which you can fetch the Quotes.
                        </p>
                    </div>
                </div>

                <div class="project3 projects proBox  " id="projectBoxes">
                    <div class="projectBoxes">

                     <a href="https://github.com/CraveforSuccess/Dear-diary"> <img src="/css/Dear diary.jpg" alt=""></a>  
                        <h4>Dear Diary
                        </h4>
                    </div>
                    <div class="dropdown-content">
                        <h4>Description</h4>
                        <p>For those who are having a habit to record their day to day life, Dear diary is for you!!!
                            What this app does is that, it stores your entered diary in a database which can be
                            retrieved later through this app.
                        </p>
                    </div>
                </div>


                <div class="project4 projects proBox ms-auto" id="projectBoxes">
                    <div class="projectBoxes">

                      <a href="https://github.com/CraveforSuccess/Quiz-game"> <img src="/css/Quiz.jpg" alt=""></a> 
                        <h4>Quiz Game</h4>
                    </div>
                    <div class="dropdown-content">
                        <h4>Description</h4>
                        <p>Do you feel that you are the smartest in the house??? , then come and get yourself test
                            , get the quiz done and term yourself as an intelligent one!!
                        </p>
                    </div>
                </div>

                <div class="project5 projects proBox " id="projectBoxes">
                    <div class="projectBoxes">

                        <img src="/css/Logo.jpg" alt="">
                        <h4>Portfolio Website</h4>
                    </div>
                    <div class="dropdown-content">
                        <h4>Description</h4>
                        <p>The website on which you are surfing is none other than one of my projects which
                            I built for myself and I can proudly say that each and every component of this website is
                            built by me.
                        </p>
                    </div>
                </div>




                <div class="project6 projects proBox ms-auto" id="projectBoxes">
                    <div class="projectBoxes">

                      <a href="https://craveforsuccess.github.io/Simon-game/"> <img src="/css/SimonGame.jpg" alt=""></a> 
                        <h4>Simon Game</h4>
                    </div>
                    <div class="dropdown-content">
                        <h4>Description</h4>
                        <p>When we were in childhood , we used to listen about simon game which
                            was very trendy at that time,now this game will bring your memories alive again.Play It
                            Now!!</p>
                    </div>
                </div>

            </div>
            <%- include('Footer.ejs') %>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>
</body>

</html>